/* comments look like this in CSS files */
/*
#navbar {
  background-color: #000000; 
  color: #ffffff;            
  margin: 0;
  padding: 0.5em 0; 
}

#navbar a {
  margin: 0;
  padding: 0.5em;
  color: #ffffff;
  text-decoration: none;
}

main {
  padding: 0.3em;
}

body { 
	background-color: #BDBDBD;
	width: 100%;
	height: 100%; }

p { 
	font-size: 1em;
	color: #4C0B5F; }
	
#purple { 
	font-size: 2em; 
	color: #4C0B5F;} */
	
#navbar{
  background-color: #000000; 
  color: #ffffff;            
  margin: 0;
  width: 750px;
  padding: 0.5em 0.5; 
}

#navbar a {
  margin: 0;
  padding: 0.5em;
  color: #ffffff;
  text-decoration: none;
}
	
#banner { 
	width: 100%; 
	padding: 0em 0; } 

body {
margin:0;
padding:0;
color:#000;
background:#a7a09a;
}
#wrap { 
width:750px;
margin:0 auto;
background: #99c; } 
#header {
background:#ddd;
}
#nav {
background:#c99;
}
#main {
background:#9c9;
}
#sidebar {
background:#c9c;
}
#footer {
margin: 0 auto;
width:750px;
clear:both; 
background:#cc9;
}
#main { 
	float: left;
	width: 500px; 
	background: #9c9; }
#sidebar { 
	float:right;
	width:250px; 
	background:#c9c; } 
