body { 
	background-color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
}

#container {
	background-color: #fff;
	width: 750px; 
	margin-left: auto;
	margin-right: auto;
	padding: 15px; 
}
h1, h2, h3 {
	margin: 0px;
	padding: 1px;
}
h1 {
	padding: 1px; 
	font-size: 50px; 
	font-family: Helvetica;
}
#header { 
	color: #3498db; 
	padding: 0px;	
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
	color: #45687F;
	font-family: 'Open Sans Condensed', sans-serif;
}
#separator { 
	height: 20px;
	background-color: white; 
}
li {
    display: inline;
	color: #45687F; 
}
#title { 
	text-align: center;
	margin: 0px;
} 

#subtitle { 
	text-align: center;
	padding: 0px;
}
#main {
	background-color: #fefefe;
	width: 100%;
}
#nav { 
	background-color: #fff;
	float: left;
	width: 800px; 
	text-align: center; 
}
a { 
	color: #45687F; 
	text-decoration: none;
	margin: 15px;
}
#content {
	float: left;
}


#footer {
	clear: both;
	color: #45687F; 
	background-color: #fff;
	text-align: right;
	margin-right: 30px;
}

.head{
	padding-left: 70px; 
	color: #3DB1FF; 
	font-size: 25px; 
	font-weight: bold;
	
}

.dots{
    margin-left: 350px;
	padding: 0px;
	font-size: 30px; 
	font-weight: bold; 
	color: #3DB1FF
}